body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------*/
/* ----------------- HEADER -----------------*/
/* ------------------------------------------*/

.header {
    margin:0;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin:0;
    display:flex;
    align-items: center;
}

.header figure {
    padding: 10px 20px;
    margin: 0;
}

h1 {
    color: white;
    margin: 0;
    font-weight: 300;
}

.header ol {
    display: flex;

}
.header a {
    text-decoration: none;
    color: white;
    padding-right: 30px;
    justify-content: right;
}

ol li {
    color: white;
    text-decoration: none;
}

h2 {
    /* border: 1px solid purple; */
    color: white;
    font-size: 110px;
    font-weight:300;
    position: absolute;
    top: 100px;
    margin-left: 150px;
}

#scene {
    /* border: 1px solid blue; */
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
}

.layer {
    height: 100vh;
    margin: 0;
    /* border: 1px solid red; */
}

/* .layer2 {
    height: 100vh;
    margin:0;
} */

/* #absoluteelement {
    height: auto;
} */